@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory</h2>
@Html.ActionLink("Add new item", "Add", "Store")

@(Html.Kendo().Grid<Requisition_Portal.Models.ItemModel>()
                                    .Name("Grid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.Id).Hidden(true);
                                        columns.Bound(p => p.Code);
                                        columns.Bound(p => p.Name);
                                        columns.Bound(p => p.Quantity);
                                        
                                    })
                .Navigatable()
                .Selectable()
                .Sortable()
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .ServerOperation(false)
                .Events(events => { events.Error("error_handler"); events.RequestEnd("onRequestEnd"); })
                .Model(model =>
                {
                    model.Id(p => p.Id);
                })
                .Create("Storereate", "Store")
                .Read("StoreRead", "Store")
                .Update("StoreUpdate", "Store")
                .Destroy("StoreDestroy", "Store")
        )

)
