@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="center">
        @*<hgroup class="center">*@
            <div class="center" style="padding-left:50px"><img src="~/Content/images/sorry_img.jpg" /></div>
            <h1 style="color:red">An error occurred while processing your request.</h1>
            <h2>This is no fault of yours. It's ours, and we are sorry.</h2>
            <h3>If you refresh your browser and still find yourself on this page, please send an email to <a href="mailto:NG-FMRequisition@ng.kpmg.com">NG-FMRequisition@ng.kpmg.com</a> & copy <a href="mailto:Elvis.Oide@ng.kpmg.com">Elvis.Oide@ng.kpmg.com</a> </h3>
        @*</hgroup>*@
    </div>
</body>

